a{
    display: block;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    text-align: center;/* 글자 가운데 정렬 */
    margin: 20px 30px 50px 10px;
    font: bold 16px/50px "arial";

}
.box{
    width: 500px;
    height: 500px;
    background-color: brown;
}