/* 
패딩을 줬을 때 높이와 너비가 그 패딩을 포함했을 때도 동일한 높이와 너비가 되도록 해보자
*/
* {
  box-sizing: border-box;
  background-color: burlywood;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0px;
  
}
ul {
  list-style: none;
  padding-left: 0px;
  text-decoration: none;
  
}
a {
  text-decoration: none;
  color: beige;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  background-color: beige;
  border-radius: 10px;
}
.navbar_menu {
  display: flex;
  border-radius: 10px;
}
.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 10px;
}
.navbar_menu_item:hover {
  /* 마우스오버 색깔변화 */
  background-color: peachpuff;
}
